a {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fbf8ef, #d2e0f1);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

a:hover::after {
  opacity: 1;
}
