@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DMSans-Regular.ttf") format("truetype");
}

body {
  cursor: url('/cursors/cursor.svg'), auto;
}

a, button {
  cursor: url('/cursors/clickable-cursor.svg'), pointer;
}

@keyframes typewriter {
  from {
    width: 0;
    visibility: visible;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}

@keyframes blinkCursor {
  0%,
  100% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: rgba(128, 128, 128, 0.75);
  }
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid rgba(128, 128, 128, 0.75);
  white-space: nowrap;
  width: 0;
  visibility: hidden;
  animation:
    typewriter 3s steps(40) 0s forwards,
    blinkCursor 750ms steps(40) 2s 5 forwards;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid;
  border-radius: 9999px;
  border-color: #ffffff;
  overflow: hidden;
}

.icon {
  display: block;
  width: 80%;
  height: auto;
}
